* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* --------------------------------------------------------------------------------------------------------------------- */
:root {
  --color_text_light: #ffffff;
  --color_text_darkness: #4e4e4e;
  --color_heading_darkness: #373737;
  --color_button: #00afdb;
  --color_button_hover: #009cc2;
  --btn_width: 184px;
  --btn_height: 46px;
}
.content {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.header {
  height: 95px;
  position: absolute;
}
h1 {
  display: none;
}
.your__life {
  background-image: url(./assets/bg-image-wrapper.png);
  height: 744px;
}
.header {
  width: 100%;
}
.logo {
  cursor: pointer;
  width: 45px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation {
  max-width: 590px;
  margin: 0 auto;
  padding-top: 40px;
}
.navigation__ul {
  display: flex;
  align-items: center;
}
.navigation__ul__li {
  margin-left: 85px;
}
.navigation__ul__li:nth-child(1) {
  margin-left: 0;
}
.navigation__ul__li:nth-child(3) {
  margin-left: 244px;
}
.navigation__ul__li__link {
  color: var(--color_text_light);
  opacity: 0.8;
  height: 20px;
  box-sizing: border-box;
  display: block;
}
.navigation__ul__li__link:hover {
  opacity: 1;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
.your__life__heading {
  color: var(--color_text_light);
  font-size: 63px;
  line-height: 75px;
  align-items: center;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 230px;
}
.your__life__text {
  color: var(--color_text_light);
  max-width: 504px;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.button {
  background-color: var(--color_button);
  width: var(--btn_width);
  height: var(--btn_height);
  margin: 0 auto;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: var(--color_text_light);
  display: block;
  margin-top: 28px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.5px;
  transition: 0.2s linear;
}
.button:hover {
  box-shadow: 200px 0 0 0 var(--color_button_hover) inset;
}
.your__life__social__networks {
  width: 170px;
  margin: 0 auto;
  margin-top: 183px;
}
.your__life__social__networks__ul {
  display: flex;
  justify-content: space-between;
}
.your__life__social__networks__ul__li__linck__img {
  transition: 1s;
}
.your__life__social__networks__ul__li__linck__img:hover {
  transform: scale(1.2);
}
.rappresent {
  height: 842px;
  display: flex;
  justify-content: space-between;
  padding: 0 269px;
}
.rappresent__block {
  width: 408px;
  margin-top: 295px;
}
.rappresent__block__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--color_heading_darkness);
  letter-spacing: -0.2px;
  text-transform: uppercase;
  width: 367px;
}
.rappresent__block__text {
  color: var(--color_text_darkness);
  font-size: 14px;
  line-height: 150%;
  margin-top: 20px;
}
.rappresent__block__btn {
  margin-left: 0;
}
.rappresent__img {
  width: 407px;
  height: 582px;
  margin-top: 120px;
  background-image: url(./assets/rappresent_image.png);
}
