* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* --------------------------------------------------------------------------------------------------------------------- */
:root {
  --color_text: #ffffff;
  --color_button: #00afdb;
  --color_button_hover: #009cc2;
}
.content {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.header {
  height: 95px;
  position: absolute;
}
h1 {
  display: none;
}
.your__life {
  background-image: url(./assets/bg-image-wrapper.png);
  height: 744px;
}
.header {
  width: 100%;
}
.logo {
  cursor: pointer;
  width: 45px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation {
  max-width: 590px;
  margin: 0 auto;
  padding-top: 40px;
}
.navigation__ul {
  display: flex;
  align-items: center;
}
.navigation__ul__li {
  margin-left: 85px;
}
.navigation__ul__li:nth-child(1) {
  margin-left: 0;
}
.navigation__ul__li:nth-child(3) {
  margin-left: 244px;
}
.navigation__ul__li__link {
  color: var(--color_text);
  opacity: 0.8;
  height: 20px;
  box-sizing: border-box;
  display: block;
}
.navigation__ul__li__link:hover {
  opacity: 1;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
.your__life__heading {
  color: var(--color_text);
  font-size: 63px;
  line-height: 75px;
  align-items: center;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 230px;
}
.your__life__text {
  color: var(--color_text);
  max-width: 504px;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.your__life__btn {
  background-color: var(--color_button);
  width: 184px;
  height: 46px;
  margin: 0 auto;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: var(--color_text);
  display: block;
  margin-top: 28px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  transition: 0.2s linear;
}
.your__life__btn:hover {
  box-shadow: 200px 0 0 0 var(--color_button_hover) inset;
}
