* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* --------------------------------------------------------------------------------------------------------------------- */
:root {
  --color_text_light: #ffffff;
  --color_text_darkness: #4e4e4e;
  --color_heading_darkness: #373737;
  --color_button: #00afdb;
  --color_button_hover: #009cc2;
  --btn_width: 184px;
  --btn_height: 46px;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--color_heading_darkness);
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
.text {
  color: var(--color_text_darkness);
  font-size: 14px;
  line-height: 150%;
}
.button {
  background-color: var(--color_button);
  width: var(--btn_width);
  height: var(--btn_height);
  margin: 0 auto;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: var(--color_text_light);
  display: block;
  margin-top: 28px;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.5px;
  transition: 0.2s linear;
}
.button:hover {
  box-shadow: 200px 0 0 0 var(--color_button_hover) inset;
}
/* --------------------------------------------------------------------------------------------------------------------- */
.content {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.header {
  height: 95px;
  position: absolute;
  width: 100%;
}
h1 {
  display: none;
}
.your__life {
  background-image: url(./assets/bg-image-wrapper.png);
  height: 744px;
}
.logo {
  cursor: pointer;
  width: 45px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation {
  max-width: 590px;
  margin: 0 auto;
  padding-top: 40px;
}
.navigation__ul {
  display: flex;
  align-items: center;
}
.navigation__ul__li {
  margin-left: 85px;
}
.navigation__ul__li:nth-child(1) {
  margin-left: 0;
}
.navigation__ul__li:nth-child(3) {
  margin-left: 244px;
}
.navigation__ul__li__link {
  color: var(--color_text_light);
  opacity: 0.8;
  height: 20px;
  box-sizing: border-box;
  display: block;
}
.navigation__ul__li__link:hover {
  opacity: 1;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
.your__life__heading {
  color: var(--color_text_light);
  font-size: 63px;
  line-height: 75px;
  align-items: center;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 230px;
}
.your__life__text {
  color: var(--color_text_light);
  max-width: 504px;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.your__life__social__networks {
  width: 170px;
  margin: 0 auto;
  margin-top: 183px;
}
.your__life__social__networks__ul {
  display: flex;
  justify-content: space-between;
}
.your__life__social__networks__ul__li__linck__img {
  transition: 1s;
}
.your__life__social__networks__ul__li__linck__img:hover {
  transform: scale(1.2);
}
.rappresent {
  height: 842px;
  display: flex;
  justify-content: space-between;
  padding: 0 269px;
}
.rappresent__block {
  width: 408px;
  margin-top: 295px;
}
.rappresent__block__heading {
  width: 367px;
}
.rappresent__block__text {
  margin-top: 20px;
}
.rappresent__block__btn {
  margin-left: 0;
}
.rappresent__img {
  width: 407px;
  height: 582px;
  margin-top: 120px;
  background-image: url(./assets/rappresent_image.png);
}
.our__community {
  height: 504px;
  background: #f5f6f7;
  display: flex;
}
.our__community__hacker {
  width: 298px;
  margin-top: 155px;
  margin-left: 269px;
}
.our__community__hacker__img {
  display: block;
  margin: 0 auto;
}
.our__community__hacker__heading {
  color: var(--color_heading_darkness);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-top: 20px;
}
.our__community__hacker__text {
  text-align: center;
  margin-top: 10px;
}
.our__community__slider {
  width: 894px;
  margin-left: 139px;
}
.our__community__slider__interface {
  width: 83px;
  margin-top: 74px;
  float: right;
  margin-right: 269px;
}
.our__community__slider__interface__elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color_heading_darkness);
}
.our__community__slider__interface__arrow {
  font-size: 30px;
  font-weight: bold;
}
.our__community__slider__interface__arrow:hover {
  opacity: 0.5;
  cursor: pointer;
}
.our__community__slider__interface__elem {
  font-size: 18px;
  padding-top: 3px;
  cursor: default;
}
.our__community__slider__all_slides {
  margin-top: 120px;
  display: flex;
  overflow: hidden;
}
.our__community__slider__slidу {
  margin-left: 30px;
}
.our__community__slider__slidу:nth-child(1) {
  margin-left: 0;
}
.implement {
  height: 842px;
  display: flex;
}
.implement__img {
  margin-top: 120px;
  margin-left: 268px;
  width: 407px;
  height: 582px;
  background-image: url(./assets/implement.png);
}
.implement__block {
  width: 407px;
  margin-top: 319px;
  margin-left: 139px;
}
.implement__block__heading {
  letter-spacing: 0.2px;
}
.implement__block__text {
  margin-top: 20px;
  letter-spacing: -0.2px;
}
.implement__block__btn {
  margin-left: 0;
}
.implement__block__btn {
  width: 180px;
}
.sign__up {
  height: 524px;
  background-image: url(./assets/Sign_Up.png);
}
.sign__up__heading {
  color: var(--color_text_light);
  text-align: center;
  padding-top: 200px;
}
.sign__up__notified__input__block {
  margin: 0 auto;
  width: 406px;
  display: flex;
  margin-top: 30px;
  height: 46px;
}
.sign__up__notified__email {
  font-size: 14px;
  line-height: 140%;
  color: var(--color_heading_darkness);
  padding-left: 24px;
  width: 340px;
}
.sign__up__notified__send {
  width: 66px;
  font-size: 24px;
  font-weight: bold;
  color: var(--color_text_light);
  background-color: var(--color_button);
  transition: 0.2s linear;
}
.sign__up__notified__send:hover {
  box-shadow: 200px 0 0 0 var(--color_button_hover) inset;
}
.download {
  height: 464px;
  background: #f5f6f7;
}
.download__heading {
  text-align: center;
  padding-top: 120px;
}
.download__text {
  text-align: center;
  width: 480px;
  margin: 0 auto;
  margin-top: 20px;
}
.download__block__btns {
  display: flex;
  margin: 0px 599px;
}
.download__block__btn {
  margin-left: 30px;
  text-align: left;
  vertical-align: middle;
  align-items: center;
  padding-left: 18px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.download__block__btn:nth-child(1) {
  margin-left: 0;
}
.download__block__btn__link {
  color: var(--color_text_light);
}
.download__block__btn__img {
  text-align: right;
}
